<!DOCTYPE html>
<html>
  <head>
    <title>TestAppV1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=""><%=link_to("ユーザー一覧","/users")%></div>
    <div class=""><%=link_to("ホーム","/posts")%></div>
    <div class=""><%=link_to("新規登録","/users/new")%></div>
    <%= yield %>
  </body>
</html>